<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evelyn Pello Flask CV</title>
  </head>
  <body>
 <h1>My name is Evelyn Pello</h1>
 <h2>I'm a Full Stack Developer</h2>

 <h3>My Hobbies are:</h3>
  <ul>
      <li>Learning programming</li>
      <li>Watching True crime videos</li>
      <li>Reading</li>
      <li>Going on walks</li>
      <li>Playing video games</li>
  </ul>

  <h3>My Skills are:</h3>
 <ul>
     <li>HTML</li>
     <li>CSS</li>
     <li>Javascript</li>
     <li>DOM</li>
     <li>Python</li>
     <li>Flask</li>
 </ul>

  <h3>My Strengths are:</h3>
  <ul>
      <li>Dedicated</li>
      <li>Hardworking</li>
      <li>Punctual</li>
  </ul>

  <h3>My Weaknesses are:</h3>
<ul>
    <li>I get frustrated easily at times.</li>
    <li>I'm not always patient.</li>
    <li>I'm too hard on myself.</li>
</ul>
  </body>
</html>