.sidebar {
  justify-content: center;
  width: 22vw;
  background-color: rgb(235, 230, 230);
  border: solid 0.2px rgb(196, 194, 194);
  padding: 10px;
  margin-top: 5px;
  border-radius: 5%;
  margin-left: 15px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h3 {
  font-size: medium;
  color: rgb(143, 143, 143);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.alert {
  margin: 5px;
}

img {
  width: 200px;
  height: 175px;
}

.rounded {
  border-radius: 10%;
  border: solid 0.5px gray;
  margin-right: 10px;
}
